[user]
	name = André Bação
	email = andre@bacao.pt
	signingkey = 0xF1D7B08FCBC2C93A
[commit]
  gpgsign = true
[core]
	gpgsign = true
	editor = vim
	excludesFile = /home/abacao/.gitignore
[color]
	ui = auto
	status = auto
	branch = auto
  diff = auto
	interactive = auto
[merge]
	tool = vimdiff
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[alias]
  b = branch
  st = status -sb
  ci = commit
  co = checkout
  up = checkout
  d  = difftool
  dp = diff --patience
  dc = diff --cached
  dcp = diff --cached --patience
  gl = log --graph --decorate --pretty=oneline --abbrev-commit --all
  hist = log --graph --decorate --pretty=format:'%h %Cred %ad %Cgreen %s%d %Cblue %an' --date=short --abbrev-commit --all
  info = config --get remote.origin.url
  unadd = reset HEAD
  uncommit = reset --soft HEAD~
  nuclear = !git fetch origin && git reset --hard origin/master
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pull]
	default = matching
	rebase = true
[init]
	templatedir = ~/.git-templates/
[cola]
	spellcheck = false
[branch]
	autoSetupMerge = always
[fetch]
	prune = true
[pager]
	branch = false
